.my-pc-renderer-container h1 {
	color: #39ff14;
	font-family: "Courier New", monospace;
	text-shadow: 
		0 0 10px #39ff14,
		0 0 20px #39ff14,
		0 0 30px #39ff14;
	font-size: 30px;
	text-align: center;
}
