.my-pc-renderer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.my-pc-renderer-container-2 {
	display: flex;
	flex-direction: column;
	width: 90%;
	background-color: #cbcbcb;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #e7e7e7;
}

.my-pc-renderer-title-container {
	display: flex;
	width: 90%;
}

.my-pc-renderer-title {
	font-size: 30px;
	text-align: right;
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
}

.my-pc-info-father-container {
	margin: 20px;
}

.my-pc-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}

.my-pc-title3-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

.my-pc-setup-info-container {
	font-weight: bold;
	font-size: 13px;
}

.my-pc-info-father2-container{
    display: flex;
    margin: 20px;
}