.my-pc-renderer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.my-pc-renderer-container-2 {
	display: flex;
	flex-direction: column;
	width: 90%;
	background-color: #cbcbcb;
	border: 1px outset #b9b9b9;
	box-shadow: inset 1px 1px 1px 1px #e7e7e7;
}

.my-pc-renderer-title-container {
	display: flex;
	width: 90%;
}

.my-pc-renderer-title {
	font-size: 30px;
	text-align: right;
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
}

.my-pc-info-father-container {
	margin: 20px;
}

.my-pc-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}

.my-pc-title3-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

.my-pc-setup-info-container {
	font-weight: bold;
	font-size: 13px;
}

.my-pc-info-father2-container{
    display: flex;
    margin: 20px;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
	.my-pc-renderer-container {
		padding: 10px;
	}

	.my-pc-renderer-title {
		font-size: 20px !important;
	}

	.my-pc-info-container {
		flex-direction: column;
		row-gap: 15px;
		text-align: center;
		align-items: center;
	}

	.my-pc-info-container img {
		width: 180px !important;
		height: 110px !important;
	}

	.my-pc-title3-container {
		text-align: center !important;
		align-items: center !important;
		font-size: 11px !important;
	}

	.my-pc-setup-info-container {
		font-size: 11px !important;
		text-align: center;
	}

	.my-pc-info-father-container {
		margin: 15px !important;
	}

	.my-pc-info-father2-container {
		margin: 15px !important;
		justify-content: center;
	}

	.my-pc-renderer-container-2 {
		width: 95% !important;
	}

	.my-pc-renderer-title-container {
		width: 95% !important;
	}
}